<%- include('../partials/header') %>

<h1>Flights</h1>
<table>
    <thead>
        <tr>
            <th>Airline</th>
            <th>Flight No.</th>
            <th>Departure</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(flight => { %> 
            <tr>
                <td><%= flight.airline %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs.toLocaleString() %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<a href="flights/new">Add Flight</a>

<%- include('../partials/footer') %>
