<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>Airport</th>
            <th>Airline</th>
            <th>Flight No.</th>
            <th>Departure</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(flight => { %>
            <% if (flight.departs.getTime() < new Date().getTime()) { %>
                <tr style="color:red;">
            <% } else { %>
                <tr>
            <% } %>
                    <td><%= flight.airport %></td>
                    <td><%= flight.airline %></td>
                    <td><%= flight.flightNo %></td>
                    <td><%= flight.departs.toLocaleString() %></td>
                    <td><a href="flights/<%= flight.id %>">Details</a></td>
                </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>
